@charset "UTF-8";

/* setting */
@import url(set/font.css);
@import url(set/vars.css);
@import url(set/reset.css);

/* page */
@import url(page/home.css);
/* @import url(page/login.css); */

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #fff;
    opacity: 0.9;
    transition: all 0.6s ease-out;
}
#preloader:before {
    content: '';
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: #393bd1 transparent #3134b9 transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}
@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ===================================================================================== */
